<div class="container">
  <br>
  <br>
  <h1 class="text-center">🎶 Piano 🔊</h1>
  <br>
  <br>
  <div class="d-flex justify-content-center">
    <div class="col-lg-6">
        <!-- <div class="list-group"> -->
        <div class="list-group-item d-flex align-items-center">
            <a (click)="aplicarSonido(1)" class="list-group-item list-group-item-action" style="background-color: red;"></a>
            <a (click)="aplicarSonido(2)" class="list-group-item list-group-item-action" style="background-color: orange;"></a>
            <a (click)="aplicarSonido(3)" class="list-group-item list-group-item-action" style="background-color: #FFEB3B;"></a>
            <a (click)="aplicarSonido(4)" class="list-group-item list-group-item-action" style="background-color: green;"></a>
            <a (click)="aplicarSonido(5)" class="list-group-item list-group-item-action" style="background-color: #00ACC1;"></a>
            <a (click)="aplicarSonido(6)" class="list-group-item list-group-item-action" style="background-color: blue;"></a>
            <a (click)="aplicarSonido(7)" class="list-group-item list-group-item-action" style="background-color: purple;"></a>
          </div>
    </div>
  </div>
</div>



<!-- <audio controls>
  <source src="../assets/sonidos/note2.wav">
</audio> -->