.list-group-item {
    cursor: pointer;
    height: 130px;
    border: 0px;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.list-group-item-action:active {
    opacity: 0.5;
}